[submodule "busticketapp-ui"]
	path = busticketapp-ui
	url = https://github.com/sf-fresher-batch-2020/busticketapp-ui.git
[submodule "busticketapp-api"]
	path = busticketapp-api
	url = https://github.com/sf-fresher-batch-2020/busticketapp-api.git
[submodule "busticketapp-angular-ui"]
	path = busticketapp-angular-ui
	url = https://github.com/sf-fresher-batch-2020/busticketapp-angular-ui.git
[submodule "busticketapp-mock-api"]
	path = busticketapp-mock-api
	url = https://github.com/sf-fresher-batch-2020/busticketapp-mock-api.git
